.Container{
   background-image: url('../public/scbg4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    /*height: 100vh;*/
    padding: 30px 0;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    background-repeat: no-repeat;
    z-index: -99; 
}
.cont{
display:flex;
/* width: 90%; */
margin: auto;
/* height: calc(100vh - 90px); */
        width: 95%;
height: calc(100vh - 60px);
border-radius: 20px;
background: rgba(29, 11, 63, 0.493);
    /* border: 2px solid #b4aeb9ce; */
    backdrop-filter: blur(15px);
position: relative;
/* overflow: scroll; */
/* padding: 20px 0; */
/* top:0px; */
}
.cont::-webkit-scrollbar {
    display: none;
}

.cont{
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}
.TimelineContainer{
    align-content:center;
    width:500px;
    left: 25px;
    padding:10px;
    

}
.TimelineContainer::-webkit-scrollbar {
    display: none;
}
.TimelineContainer {
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}
.MainContainer{
    align-content:center;
    width:644px;
    /* height:1022px; */
    height:calc(100vh - 80px);
    left: 1322px;
    top:28px;
    /* background-color: black 0%; */
    /* margin:15px;  */
    padding:10px; 
    overflow-x: hidden;
    /* visibility: hidden; */
    

}
.MainContainer::-webkit-scrollbar {
    display: none;
}
.MainContainer{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.LeadtableContainer{
    align-content:center;
    width:566px;
    /* height:1022px; */
    height:calc(100vh - 80px);
    left: 1300px;
    top:28px;
    /* background-color: black 0%; */
    /* margin:15px; */
    padding:10px;
    overflow-x: hidden;
    /* overflow: auto; */
    

}
.LeadtableContainer::-webkit-scrollbar {
    display: none;
}
.LeadtableContainer{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.show{
    justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-right: 5%;
      margin: 30px;
      padding: 10px 50px;
      height: 50%;
      border-radius: 40px;
}
.logC{
    margin:25px;
}

@media only screen and (max-width: 1230px) {
.Container{
/* display:inherit;
position: relative;
border: 4px solid #4dcfe0;
border-radius: 30px;
left:10px;
/* right:25px; */
/* top: 10px;  */
display:inherit;
/* padding: 20px; */
}
.cont{
top:0;
/* height:calc(100vh - 5px); */

overflow: hidden;
/* padding: 20px; */
}

.TimelineContainer{
display:none;

}
.MainContainer{
justify-content: center;
align-content: center; 
width:100%;
height:100%; 
overflow-x: hidden;
 
}
.LeadtableContainer{
display:none;
}
.logC{
    margin:0;
}
}

@media screen and (max-width: 710px){
    
    .Container{
        padding: 20px 0;
      }
      .cont{
        height: calc(100vh - 90px);
        width: 95%;
       }
  }
  
@media screen and (max-width: 600px){
  
    .Container{
        padding: 20px 0;
      }
      .cont{
        height: calc(100vh - 90px);
        width: 95%;
       }
}

