

@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Cabin+Sketch&family=Montserrat:wght@500&family=Russo+One&family=Monoton&display=swap");
 /*body {
    
   /* display: flex;
    flex-direction: column;
    font-family: "Barlow", sans-serif;
    /* color: "#fff"; */
    /*-ms-overflow-style: none;
    /* IE and Edge */
    /*scrollbar-width: none;
    /* Firefox */
    /* overflow: hidden; */
   /* z-index: 0;
    background-color: rgba(10, 10, 10, 0);
    position: relative;
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
 /* scrollbar-width: none;  /* Firefox */
/*} */

.back {
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../public/scbg4.jpg");
    z-index: -99;
    background-size: cover;
}

body::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 600px) {
    .back {
        background-image: url("../public/scbg4.jpg");
        /*background-size: auto 110vh;*/
    }
}

/*.footerBuff {
    height: 110px;
}

@media only screen and (max-width: 600px) {
    .footerBuff {
        height: 0px;
    }
}

.footerBuff2 {
    height: 150px;
}

@media only screen and (max-width: 600px) {
    .footerBuff2 {
        height: 0px;
    }
}*/


/* .fbbutton {
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    height: 35px;
    width: 190px;
    text-transform: uppercase;
    color: #f0f0f0;
    background-color: rgb(32, 32, 177);
    border: none;
    border-radius: 6px;
    z-index: 1000;
} */
.glug_logo{
  position: relative;
  width: 10%;
  height: 10%;
  align-items: center;
  font-size: 10px;
}
.fbbutton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.head {
    margin: 0 auto;
    padding: 10px;
    padding-top: 10px;
    
}
.arrow{
    display:none;
}
@media only screen and (max-width: 1230px) {
    .arrow{
        display:flex;
        justify-content:space-between;
        /* height:fit-content; */
        /* padding: 0px;
        padding-bottom: 0px;
        margin:2px; */
        /* width:fit-content; */
    }
    .head{
        padding-top: 0px;
    }
}

.rtable {
    margin: 0 auto;
    text-align: center;
    width: 99%;
}

.question {
    position: relative;
    background: linear-gradient(112.76deg, rgba(255, 255, 255, 0.04) 7.77%, rgba(255, 255, 255, 0.01) 87.65%);
    box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(100px);
    z-index: 20;
    color: white;
    box-sizing: border-box;
    box-shadow: 1px 1px 2px rgba(10, 10, 10, 0.9);
    max-width: 1000px;
    min-width: 100px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #b14de0;
}
/* .question::before {
    background: linear-gradient(109.43deg, rgba(97, 236, 236, 0.83) 2.44%, #121B17 29.18%, #064244 67.03%, rgba(1, 247, 247, 0.72) 99.32%);
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:15px; 
    padding:5px; 
    -webkit-mask: 
       linear-gradient(rgb(253, 253, 253) 0 0) content-box, 
       linear-gradient(rgb(249, 250, 250) 0 0);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude; 
  } */
  


@media only screen and (max-width: 600px) {
    .question {
        width: 95%;
    }
}

.ans-div {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
}



/*changed*/

.responsive-image {
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
}

.responsive-image__image {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    max-width: 350px;
    height: auto;
    border-radius: 15px;
}

#filled-basic {
    background-color: rgba(246, 248, 255, 0.87);
    border-radius: 3px;
}

#filled-basic:focus {
    background-color: rgb(10, 0, 66);
    border-radius: 3px;
    color: #fff;
}

.btnSubmit {
    margin: 5px;
    padding: 5px;
    background-color: #4dcfe0;
}

.login-head {
    display: relative;
    color: rgb(253, 253, 253);
    margin: 0 auto;
    z-index: 20;
}

.login-head h1 {
    /* font: 150% Consolas, Monaco, monospace; */
    font-family: 'Cabin sketch', sans-serif;
    border-right: 0.1em solid;
    width: 13.5em;
    width: 12.5ch;
    font-size: 30px;
    color: #73cafd;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2.5s steps(16, end), cursor-blink 0.3s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor-blink {
    50% {
        border-color: transparent;
    }
}

@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

.sign {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: radial-gradient( ellipse 30% 30% at 50% 50%, #18436b, transparent);
    transform: translate(-50%);
    letter-spacing: 2;
    left: 50%;
    top: 10%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 37px;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #65baff, -0.2rem 0.1rem 1rem #65e8ff, 0.2rem 0.1rem 1rem #65e0ff, 0 -0.5rem 2rem #24fff4, 0 0.5rem 3rem #2471ff;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #db65ff, -0.2rem 0.1rem 1rem #a865ff, 0.2rem 0.1rem 1rem #ce65ff, 0 -0.5rem 2rem #9c24ff, 0 0.5rem 3rem #7824ff;
    }
    28%,
    33% {
        color: #a065ff;
        text-shadow: none;
    }
    82%,
    97% {
        color: #e524ff;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #9c13b4;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #e065ff, -0.2rem 0.1rem 1rem #c765ff, 0.2rem 0.1rem 1rem #e065ff, 0 -0.5rem 2rem #c124ff, 0 0.5rem 3rem #8324ff;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    4% {
        opacity: 0.9;
    }
    6% {
        opacity: 0.85;
    }
    8% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.9;
    }
    11% {
        opacity: 0.922;
    }
    12% {
        opacity: 0.9;
    }
    14% {
        opacity: 0.95;
    }
    16% {
        opacity: 0.98;
    }
    17% {
        opacity: 0.9;
    }
    19% {
        opacity: 0.93;
    }
    20% {
        opacity: 0.99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: 0.94;
    }
    28% {
        opacity: 0.98;
    }
    37% {
        opacity: 0.93;
    }
    38% {
        opacity: 0.5;
    }
    39% {
        opacity: 0.96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: 0.97;
    }
    46% {
        opacity: 0.94;
    }
    56% {
        opacity: 0.9;
    }
    58% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    72% {
        opacity: 0.95;
    }
    93% {
        opacity: 0.93;
    }
    95% {
        opacity: 0.95;
    }
    97% {
        opacity: 0.93;
    }
    to {
        opacity: 1;
    }
}

.container {
    display: block;
    padding: 8px;
    width: 88%;
    max-width: 345px;
    /* border: 4px solid #00dae9; */
    border-radius: 15px;
    /* border-bottom-left-radius: 40px;
    border-top-right-radius: 40px; */
    margin: 0 auto;
    /* background-color: rgba(10, 10, 50, 0.5); */
}

/* .neon-box {
    box-shadow: 0 0 5px 0 #24ffff, inset 0 0 5px 0 #24d3ff, 0 0 20px 0 #24e5ff, inset 0 0 5px 0 #24f0ff, 0 0 20px 2px #24ffff, inset 0 0 20px 2px #24a7ff;
    animation: flashing 4s ease 0s infinite;
} */

.rowC {
    display: flex;
    flex-direction: row;
}

@keyframes flashing {
    0%,
    60% {
        box-shadow: 0 0 5px 0 #a724ff, inset 0 0 5px 0 #c124ff, 0 0 20px 0 #9c24ff, inset 0 0 5px 0 #5e24ff, 0 0 20px 2px #c124ff, inset 0 0 20px 2px #ff24ab;
    }
    20%,
    80% {
        box-shadow: 0 0 5px 0 #d324ff, inset 0 0 5px 0 #9c24ff, 0 0 20px 0 #de24ff, inset 0 0 5px 0 rgba(10, 10, 50, 0.5), 0 0 20px 2px rgba(10, 10, 50, 0.5), inset 0 0 20px 2px rgba(10, 10, 50, 0.5);
    }
}
.figure{
    
        margin: 0 auto;
         overflow-y: scroll; 
         max-height: 100px;
        margin-bottom: 10px;
        /* padding: 40px; */
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* overflow: scroll; */
}
.figure::-webkit-scrollbar{
    display: none;
    
}
.figure{
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

}
.containerfigure {
    display: block;
    padding: 15px;
    align-content: center;
    margin: 0 auto;
    overflow: auto;
    
}
.containerfigure::-webkit-scrollbar {
    display: none;
}
.containerfigure{
    
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    
}
    .Ruleb{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding:10px;
    padding-bottom: 2px;
    width:104%;
    /* margin: 5px; */
    /* margin-bottom:100px;
    
    
    /* position:relative;
    margin:0%;
    top:50%;
    left:50%;
    -ms-transform: translate(-10%,-10%);
    transform: translate(-10%,-10%); */
}
.stick{
    position:sticky;
}

.showMob{
    justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-right: 5%;
      margin:30px;
      padding: 10px 50px;
      height: 50%;
      border-radius: 40px;
}
.leadWrapper{
    max-height:800px;
    overflow-y: scroll;
}
.leadWrapper::-webkit-scrollbar {
    display: none;
}
.leadWrapper {
    -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
}
.arrow1{
    display:none;
}
@media only screen and (max-width: 1230px) {
    .arrow1{
        display:flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
        /* width:fit-content; */
    }
}
.r1{
    display: flex;
}
.r2{
    display: flex;
}

@media only screen and (max-width: 700px){
    .colon{
        display: none;
    }
}
