
.activelevelContainer{
    /* position: absolute; */
    display: block;
    padding: 10px;
    margin:10px auto;
    width: 200px;
    min-width:100px;
    height: 45px;
    left: 174px;
    top: 170px;
    background: linear-gradient(112.76deg, rgba(255, 255, 255, 0.01) 7.77%, rgba(255, 255, 255, 0.005) 87.65%);
    box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(100px);
    /* Note: backdrop-filter has minimal browser support */
    border: 3px solid #a700e9;
    
    /*-webkit-border-image-source: linear-gradient(109.43deg, rgba(97, 236, 153, 0.83) 2.44%, #1FF190 29.18%, #21FFD5 67.03%, rgba(1, 247, 203, 0.72) 99.32%);*/
    
    /* background: linear-gradient(112.76deg, rgba(255, 255, 255, 0.01) 7.77%, rgba(255, 255, 255, 0.005) 87.65%); */
    
    border-radius: 50px;}
    
    .levelContainer{
        /* position: absolute; */
        display: block;
        padding: 10px;
        margin:10px auto;
        width: 200px;
        min-width:100px;
        height: 45px;
        left: 174px;
        top: 170px;
        background: linear-gradient(112.76deg, rgba(255, 255, 255, 0.01) 7.77%, rgba(255, 255, 255, 0.005) 87.65%);
        box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(100px);
        /* Note: backdrop-filter has minimal browser support */
        border: 3px solid #606161;
        
        /*-webkit-border-image-source: linear-gradient(109.43deg, rgba(97, 236, 153, 0.83) 2.44%, #1FF190 29.18%, #21FFD5 67.03%, rgba(1, 247, 203, 0.72) 99.32%);*/
        
        /* background: linear-gradient(112.76deg, rgba(255, 255, 255, 0.01) 7.77%, rgba(255, 255, 255, 0.005) 87.65%); */
        
        border-radius: 50px;}
    
    .level{
    /* position: absolute; */
    position: relative;
    
    width: 143px;
    height: 30px;
    left: 15px;
    font-family: Bruno Ace;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #8b8d8d;
    }

    .active{position: relative;
        width: 143px;
        height: 30px;
        left: 15px;
        font-family: Bruno Ace;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        color: rgb(252, 247, 255);

    }
    .ava{
        color: white;
        
    }
    @media only screen and (max-width: 1230px) {
        .log{
            position: sticky;
            bottom:0;
            height:5%;
            width:90%;
    
        }
    }
    .log{
        position: sticky;
        bottom:20px;
        

    }
    .wrapper{
        
        display:flex; 
        margin:0 auto;
        /*padding: 10px;*/
        width:45%;
        justify-content: space-between;
        align-items: center;
    }