.timer{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    transform: translate(-50%);
    text-transform: uppercase;
    letter-spacing: 2;
    left: 50%;
    top: 10%;
    font-family: "Clip";
    font-size: 37px;
    color: #33d3df;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.show3{
    justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-right: 5%;
      margin: 30px;
      padding: 10px 50px;
      height: 50%;
      background: rgba(2, 52, 58, 0.3);
      backdrop-filter: blur(2px);
      border-radius: 40px;
}
.tile{
border-radius: 0px;
background: rgba(2, 52, 58, 0.3);
border: 4px solid #4dcfe0;
backdrop-filter: blur(5px);
height:50px;
width:200px;
left:100px;
justify-content: center;
align-items: center;
}